In [62]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import datetime
import pickle

from sklearn.linear_model import LogisticRegression, LinearRegression, Lasso
from sklearn.model_selection import train_test_split 
from sklearn import metrics, preprocessing, svm

from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt

from tsfresh import extract_features, extract_relevant_features, select_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters

In [73]:
# read data
df = pd.read_excel('data/hist_data_nm_cat.xlsx')
df = df.rename(columns={'day': 'date'})
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

In [65]:
def model_predict(data, model):
    extraction_settings = ComprehensiveFCParameters()

    X = extract_features(data, column_id='id', column_sort='date', column_value='cashback',
                     default_fc_parameters=extraction_settings,
                     # we impute = remove all NaN features automatically
                     impute_function=impute)

    X = X[[
        'cashback__kurtosis',
        'cashback__mean_second_derivative_central',
        'cashback__fft_aggregated__aggtype_"variance"',
        'cashback__agg_autocorrelation__f_agg_"var"__maxlag_40',
        'cashback__fft_aggregated__aggtype_"centroid"',
        'cashback__cid_ce__normalize_True',
        'cashback__cid_ce__normalize_False',
        'cashback__variation_coefficient',
        'cashback__skewness'
    ]]
    
    return int(model.predict(X)[0])

In [67]:
# import model
model = Lasso()
with open('model.pkl', 'rb') as inp:
    model = pickle.load(inp)
    print(model.coef_)

[-8.15309652e+02  2.23446194e+01 -5.58261884e+00 -2.08953885e+04
  5.99008623e+02 -2.35407339e+03  6.61915608e-01 -1.67611587e+04
  8.64370158e+03]

In [72]:
# Get some test data
test_data = pd.DataFrame({'id': pd.Series(dtype='int'),
                   'cashback': pd.Series(dtype='int'),
                   'date': pd.Series(dtype='datetime64[ns]')})

start, end = 10, 43
test_name = 'Delta Sirius'

test_output = int(df[df['merchant_name'] == test_name][end:end+5]['cashback'].sum())

for i in range(end-start):
    row = df[df['merchant_name'] == test_name][start+i:start+i+1]
    test_data.loc[i] = [1, int(row['cashback'].iloc[0]), row.index.min()]
test_data

    id  cashback       date
0    1      3418 2022-01-11
1    1      3507 2022-01-12
2    1       530 2022-01-13
3    1      1254 2022-01-14
4    1      1717 2022-01-15
5    1      2364 2022-01-16
6    1      3577 2022-01-17
7    1      3907 2022-01-18
8    1      2283 2022-01-19
9    1      2902 2022-01-20
10   1      1855 2022-01-21
11   1      3852 2022-01-22
12   1      1631 2022-01-23
13   1      2197 2022-01-24
14   1      3395 2022-01-25
15   1      2641 2022-01-26
16   1      4218 2022-01-27
17   1      2504 2022-01-28
18   1      2617 2022-01-29
19   1      4350 2022-01-30
20   1     12566 2022-01-31
21   1      4600 2022-02-01
22   1      3381 2022-02-02
23   1      2917 2022-02-03
24   1      2681 2022-02-04
25   1      1275 2022-02-05
26   1       315 2022-02-06
27   1      2308 2022-02-07
28   1      5985 2022-02-08
29   1      5358 2022-02-09
30   1      5657 2022-02-10
31   1      3018 2022-02-11
32   1      2190 2022-02-12

In [71]:
# test prediction
print(test_output, model_predict(test_data, model))

Feature Extraction: 100%|██████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.10s/it]

18476 23294